form{
    display: inline;
}


.done-items-block{
    padding-left:10px;
    position: fixed;
    top: 0;
    right: -250px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: overlay;
    transition: var(--transition-speed);
}
.done-items-block>div{
    margin-top:10px;
}
.done-items-block:hover{
    right: -20px;
}
