.App{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  overflow-x: hidden;
}
.App-header{
  padding-bottom: 80px;
  height: 100%;
  padding-left: 0;
  position: relative;
  min-height: 100vh;
  margin: auto;
  font-weight: 200;
}
:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  
  body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
  }
 
  h3{
    font-size: 5vh;
    font-weight: 200;
  }
  .home-circle{
    
    background-color: var(--bg-primary);
    position: absolute;
    right: 0;
    width: 100%;
    clip-path: circle(600px at right 1000px);
    height: 100%;
    z-index: 1;

  }
  .home-title{
    max-width: 400px;
  }
  .home-title h2{
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
  }
  .home-title h2 span{
    color: crimson;
    font-size: 1em;
    font-weight: 900;
  }
  .home-icon{
    z-index: 2;
     width: 500px;
    position: relative;
    animation: icon-animation 2s ease-in-out;
    transition-delay: 1s;
    animation-iteration-count: initial;
  }
  @keyframes icon-animation {
    from {
      right: -80vh;}
    to {
      right: 0;}
  }
  .flex{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
  
  main {
    margin-left: 5rem;
    padding: 1rem;
  }
  .page {
    
  }
  
  .page-enter {
    opacity: 0;
   
  }
  
  .page-enter-active {
    opacity: 1;
    
    transition: opacity 400ms,  left 400ms;
  }
  .page-exit {
    opacity: 1;
   
    
  }
  
  .page-exit-active {
    opacity: 0;
   
    transition: opacity 400ms,  left 400ms;

  }
.navbar {
  z-index: 15;
  font-weight: 200;
    overflow: hidden;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
   
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover,.box-item:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #7ef6ff;
    
  }
  
  .fa-secondary {
    color: #49a3df;
  }
  .fa-third{
    color: #df496f;
    
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  .glass {
    margin:10px;
    overflow: hidden;
    background:#7ef6ff;
    width: 100%;
    max-width: 350px;
    height: 100%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
   border-radius: 2em;
    z-index: 2;
    backdrop-filter: blur(2rem);
  }

  .glass-img-container{
    position: relative;
    bottom: 0;
   opacity: 0.7;
    height: 200px;
    width: 100%;
  }
  .todo-list{
    overflow: auto;
    height: 400px;
  }
  ::-webkit-scrollbar{
    width: 5px;
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background:#7ef6ff;
  }
  .glass-img-container>img{  
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .glass-img-container>span{
    color: crimson;
    font-weight: 600;
    font-size: 60px;
    position: absolute;
    bottom: 5px;
    left: 10px
  }
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    font-size: small;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    padding: 10px;
    font-size: 50px;
    transform: rotate(-180deg);
  }
     /* Title component */
  .title-container{
    color:#49a3df;
    display: flex;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
  }
  .title-container > svg{
    font-size: 54px;
    z-index: 2;
  }
  .title-text{
    color: white;
    font-size: 24px;
    font-weight: 800;
  }
  .title-text::after{
    content: '';
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 2px;
    background-color: #7ef6ff;
    left: 0;

  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
    .home-icon{
      width: 300px;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
    
    .home-title h2 span{
      font-size: 0.5em;
    }
    
  }
 


  /* Large screens */
  @media only screen and (min-width: 600px) {
    .App-header{
      padding-bottom: 0px;
      padding-left: 80px;
    }
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
   
  }
  
  
  .theme-icon {
    display: none;
  }
  
  

.row{
  justify-content: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inline{
  height: min-content;
  transition: 1s ease;
    justify-content: inherit;
    padding: 5px;
    display:flex;
   
} .item:-webkit-autofill{
  background-color: var(--bg-primary);
  color: var(--text-primary);
}


.todo-list-item{
  border-radius: 10px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  display: flex;
  padding: 10px 20px;
  font-weight: 100;
  font-size: 20px;
  width: 300px;
  transition: .5s;
}

.todo-list-item:hover{
background-color: #fff;
}
.todo-list-item > div{
  width: 200px;
  overflow: hidden;
}
.todo-list-item > span{
  width: 50px;
  cursor: pointer;
  transition: 0.5s;
}
.todo-list-item > span:hover{
  transform: scale(1.2);
}

.item{
  background-color: whitesmoke;
    font-weight: 100;
    font-size: 20px;
  text-align: center;
  max-width: 250px;
    width: 100%;
    min-width: 200px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 10px;
 border:none;
 outline: none;
 box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.form{
  
    width: 25%;
    border-radius: 25px;
    padding: 10px;
    border: none;
    margin: 10px;
    
}
.form-button{
  cursor: pointer;
  font-size: 20px;
  background-color: whitesmoke;
    padding: 10px;
    outline: none;
    border:none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  
  
   
}

.sec{
  width: 40px;
    margin:5px;
    border-radius: 25px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
.box{
  padding:10px;
  display: flex;
    align-items: center;
    flex-direction: column;
  border-radius: 25px;
  background-color: var(--bg-primary);
}
.box-item{
  padding:10px;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}
.box-item>h4{
  padding: 5px;
}
.background{
  height: 100%;
   min-height: 100vh;
   background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  background-position: center;

  
}
.item-appear{
    opacity: 0;
  }
  .item-appear-active{
    opacity: 1;
    transition: 500ms ease-in;
  }
  .item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: 500ms ease-in;
  }


  .info>.done-item{
    cursor: pointer;
    background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3) );
    z-index: 10;
    position: fixed;
   right:2vh;
   top: 10px;
    height: 30px;
    width: 30px;
  }
  .info>.done-item>svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .info>.info-overlay{
    z-index: 10;
    background-color:black;
    height: 100%;
    width: 100%;
    top:0vh;
   right:0vh;
   position: absolute;
  }
  .info-overlay>span{
margin: auto;
font-size: 16px;
 max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    color:var(--text-primary);
  }
  

  .right-fade-enter {
    opacity: 0;
   
  }
  .right-fade-enter-active {
    opacity: 1;
    
    transition: 500ms ease-in;
  }
  .right-fade-enter-done{
    opacity: 1;
  }
  .right-fade-exit {
    
    opacity: 1;
  }
  .right-fade-exit-active {
  
    opacity: 0;
    transition: 500ms ease-in;
  }
  .right-fade-exit-done{
    opacity: 0;
  }
  .popup {
    position: absolute;
    left: 0;
    top: -60px;
    transform: translate3d(0, -50%, 0);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background: none;
    border-radius: 100px;
    width: 100%;
  }
  
  .popup:after {
    content: "";
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    background: #fff;
    position: absolute;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
    z-index: -1;
    bottom: -10px;
    left: calc(50% - 10px);
  }
  
  .inner {
    padding: 30px 0;
    background: #fff;
    border-radius: 100px;
  }
  